<% if user_signed_in? %>
  <li>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
    <%= link_to('Login', new_user_session_path) %>  
  </li>
<% end %>

<% if current_user.admin? %>
  <h1>Users</h1>

  <table>
    <thead>
      <tr>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= link_to "show your articles", user_articles_path(user.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h1>Your Profile</h1>

  <table>
    <thead>
      <tr>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @user.email %></td>
        <td><%= link_to "show your articles", user_articles_path(@user.id),  class_active: 'enabled' %></td>
      </tr>
    </tbody>
  </table>
<% end %>